[submodule "tools/polly"]
	path = tools/polly
	url = https://github.com/ruslo/polly
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
